{% trans_default_domain domain() %}<div class="jumbotron">
  <h1>{{ attribute(block, 'title_'~app.request.locale )  }}</h1>
  {{ attribute(block, 'body_'~app.request.locale )|internal_links|raw  }}
</div>