<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">{{ attribute(block, 'title_'~app.request.locale )  }}</h3>
  </div>
  
  <div class="panel-body">
    {{ attribute(block, 'body_'~app.request.locale )|internal_links|raw  }}
  </div>
  
</div>