{% trans_default_domain domain() %}

{% for block in attribute(page, 'blocks_'~app.request.locale ) %}
	<div class="{{ block.class }}">
	    {% include 'blocks/'~block.template~'.html.twig' with {'block': block} %}
	</div>
	
	{% if block.last_of_row %}
		</div>
		<div class="row">
	{% endif %}
	
{% endfor %}