{% trans_default_domain domain() %}

<ol class="breadcrumb">
	<li>{% include 'elements/page_link.html.twig' with {'page': 'home'|page} %}</li>
    {% set foo = app.request.pathinfo|split('/') %}
    {% if foo|length > 3 %}
	    {% for i in 1..(foo|length-3) %}
	        {% set parent = foo|slice(2,i)|join('/')|page_by_slug %}
	        {% if parent %}
				<li class="">{% include 'elements/page_link.html.twig' with {'page': parent} %}</li>
	        {% endif %}
	    {% endfor %}    
	{% endif %}
	<li class="active">{{ title }}</li>
</ol>