{% extends 'base.html.twig' %}

{% block title %}{{ 'Lucky number : %number%'|trans({'%number%': number}) }}{% endblock %}

{% block body %}
<h1>{{ 'Your lucky number is %number%'|trans({'%number%': number}) }}</h1>
{% endblock %}
